<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{with .Site.Params.description -}}
      <meta name="description" content="{{.}}">
    {{ end }}
    {{- with .Site.Params.author -}}
      <meta name="Author" content="{{.}}">
    {{ end }}
    {{- with .Site.Params.keywords -}}
      <meta name="keywords" content="{{.}}">
    {{ end -}}
    
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        }
      });
    </script>
  
    <script src='https://cdn.jsdelivr.net/npm/mathjax@2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML' async></script>

    <link rel="stylesheet" href={{ "css/syntax.css" | absURL }}>
    <link rel="stylesheet" href={{ "css/style.css" | absURL }}>
    <script src="https://kit.fontawesome.com/1b7478c139.js" crossorigin="anonymous"></script>
    <title>{{ .Site.Title }}</title>

    <link rel="stylesheet" href="{{ "css/share.min.css" | absURL }}" />

    <!-- umami on vercel -->
    <!-- <script async src="https://umami-enmep3mc6-marginitors-projects.vercel.app/script.js" data-website-id="b8e5650b-3bb5-4c84-96fe-779f08ca6f72"></script> -->
    <script async src="https://analytics.eu.umami.is/script.js" data-website-id="ea7ce41f-c485-45ea-be09-29a9f2ab90d9"></script>
  
    <!-- busuanzi -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <meta name="referrer" content="no-referrer-when-downgrade">

  </head>